Olá, <strong>{{ student }}</strong>
<p>Agradecemos o contato.</p>
<p>Segue a resposta de sua solicitação enviada em nosso atendimento.</p>
<br>
<p style="background-color: #F0F0F0; padding: 20px 30px; margin: 0 20px;">
  <strong>Sua Pergunta: <i>{{ question }}</i></strong><br><br>
  <strong>Resposta de nossa equipe: </strong> <br><br>
  <em>{{ answer }}</em>
  <br><br>
  <small><em>Responsido em: {{ date_answer }}</em></small>
</p>
<br>
<small>Em caso de novas dúvidas estamos a disposião.</small>
