Olá, <strong>{{ student }}</strong>
<p>Seja bem vindo a GymPoint!</p>
<p>Sua matrícula foi realizada com sucesso!</p>
<p>Abaixo seguem as informções de seu plano:</p>
<p style="background-color: #F0F0F0; padding: 20px 30px; margin: 0 20px;">
  <strong>Plano contratado: </strong> {{ plan }}<br><br>
  <strong>Válido até: </strong> {{ end_date }}<br><br>
  <strong>valor pago: </strong> {{ price }}
</p>
<br>
<small>Estamos a disposição para eventuais dúvidas.</small>
